<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<!-- class name -->
		<servlet-name>HelloServlet</servlet-name>
		<!-- package name -->
		<servlet-class>servlet/HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<!-- access path -->
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<servlet>
		<!-- class name -->
		<servlet-name>ExamController</servlet-name>
		<!-- package name -->
		<servlet-class>servlet/ExamController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExamController</servlet-name>
		<!-- access path -->
		<url-pattern>/exam/viewall</url-pattern>
		<url-pattern>/exam</url-pattern>
		<url-pattern>/exam/addnew</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<!-- class name -->
		<servlet-name>SubjectController</servlet-name>
		<!-- package name -->
		<servlet-class>servlet/SubjectController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubjectController</servlet-name>
		<!-- access path -->
		<url-pattern>/subject/viewall</url-pattern>
		<url-pattern>/subject</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<!-- class name -->
		<servlet-name>StudentController</servlet-name>
		<!-- package name -->
		<servlet-class>servlet/StudentController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentController</servlet-name>
		<!-- access path -->
		<url-pattern>/student/viewall</url-pattern>
		<url-pattern>/student</url-pattern>
	</servlet-mapping>

</web-app>